<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Phrase API Test application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Phrase API Test application</h1>
    <hr>
    <h2>Application links</h2>
    <hr>
    <a th:href="@{/config}">Account Configuration</a>
    <hr>
    <a th:href="@{/projects}">Projects</a>
</div>
</body>
</html>