<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TMS Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src = "main.js"></script>
</head>
<body>
<div class="container">
    <h1>TMS Projects</h1>
    <hr>
    <div id="divProj"></div>
    <hr>
    <a th:href="@{/}"> Back to Home</a>
</div>
</body>
</html>